<html>
 <head>
        <title>VR Concept</title>
    </head>
    <body>
        <div>
            <h1><a href="/">VR Concept Blog</a></h1>
        </div>

        <div>
            <p>published: 19.07.2018, 14:40</p>
            <h2><a href="">First post</a></h2>
            <p>Prototyping on VR Concept means developing a 3-dimension image of a product and modeling its physicomechanical properties.
Using this method a general constructor can approve a layout 1,5-2 times more quickly, decrease product cost and reduce mistakes in cooperate work of designers, engineers and leaders.</p>
        </div>

        <div>
            <p>published: 19.07.2018, 14:40</p>
            <h2><a href="">Second post</a></h2>
            <p>VR Concept helps to expand functional 3-dimension prototype from CAD, CAE, CAM on CADWall, CAVE, panoramic imaging system and virtual reality helmets.
In case of distributed work in different systems data can be downloaded without converting.</p>
        </div>
    </body>
</html>